<article class="grocery-list">
  <header class="grocery-list__header">
    <h1 class="grocery-list__heading"><%= @meal_plan.name %></h1>
  </header>
  <ul class="grocery-list__list">
    <% @grocery_list.each do |g| %>
      <li class="grocery-list__list-item js-grocery-list-item"><span class="glyphicon glyphicon-unchecked"></span><span class="text"><%= g %></span></li>
    <% end %>
  </ul>
</article>
