<% content_for :page_header do %>
  <h1>Create A New Meal Plan</h1>
<% end %>

<div class="mealplan-container container">
  <%= render partial: "form", locals: { meal_plan: @meal_plan, submit_text: "Save My Meal Plan" } %>
</div>