<% content_for :page_header do %>                                                                                                                                                                         
  <h1>Meal Plan Overview</h1>
<% end %>

<section class="meal-plan">
  <% unless @meal_plan.recipes.empty? %>
    <h2 class="meal-plan__heading">Here is what you've picked out for this week's meal plan.</h2>
    <h3 class="meal-plan__name"><%= @meal_plan.name %></h3>
    <%= render partial: "recipes/list", locals: { recipes: @meal_plan.recipes } %>
  <% else %>
    <h2 class="meal-plan__empty">You haven't added any recipes to this week's meal plan yet.</h2>
  <% end %>
</section>

<section class="meal-plan-actions">
  <ul class="meal-plan-action__list">
    <li class="meal-plan-action__list-item"><%= link_to 'Edit', edit_meal_plan_path(@meal_plan) %></li>
  </ul>
</section>
