<section class="recipe-briefs">
  <ul class="recipe-briefs__list">
    <% recipes.each do |recipe| %>
      <li class="recipe-briefs__list-item test__recipe-list-item"><%= link_to recipe.name, recipe %></li>
    <% end %>
  </ul>
</section>
