<% content_for :page_header do %>                                                                                                                                                                         
  <h1>Cook All The Recipes!</h1>
<% end %>

<%= render partial: "list", locals: { recipes: @recipes_} %>
