<% content_for :page_header do %>                                                                                                                                                                         
  <h1>Recipes I Added</h1>
<% end %>

<%= render partial: "list", locals: { recipes: @recipes } %>
