<% content_for :page_header do %>                                                                                                                                                                         
  <h1>Whip Up A New Recipe</h1>
<% end %>

<%= render partial: "form", locals: { recipe: @recipe, submit_text: "Add This Recipe" } %>
