@import "compass";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Kreon|Pontano+Sans|Source+Sans+Pro:300i');
@import "page-header";
@import "flash-messages";
@import "form-errors";
@import "recipes";
@import "meal-plans";

$pop-color: #7bbf66;
$pop-color-lighter: lighten( $pop-color, 10%);
$pop-color-light: lighten( $pop-color, 3%);
$pop-color-dark: darken( $pop-color, 10%);
$pop-color-darker: darken( $pop-color, 25%);

$alt-pop-color: #d06868;
$dark-color: #696666;
$warm-dark-color: #796969;
$bright-color: #bbb8b8;

html, body {
	box-sizing: border-box;
	font-family: 'Pontano Sans', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.5em;
}



h1, h2, h3, h4, h5, h6	{
	font-family: 'Kreon', serif;
}

h1	{
	color: $pop-color-darker;
}

h2, h3, h4, h5,h6	{
	color: $pop-color;
}


em	{
	font-family: 'Source Sans Pro', sans-serif;
	padding-right: 0.1em;
}

a	{
	color: $alt-pop-color;
}

.btn {
  font-weight: 700;
  color: #fff;
  background-color: $pop-color;
  border: 1px solid $pop-color-dark;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $btn-border-radius-base);
  @include user-select(none);

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: #fff;
    background-color: $pop-color-light;
    // @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    // @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }

  // [converter] extracted a& to a.btn
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}  // .btn The above is directly from the Bootstrap CSS File (bootstrap-sass/assets/stylesheets/bootstrap/)

.form-group {
	margin-bottom: 2.5em;
}


.form-control	{
	margin-bottom: 2em;
	background-color: #FFFFE9;
  padding: 10px;
  border: solid 1px #ccc;
}


.form-control:focus	{
	margin-bottom: 2em;
  padding: 10px;
  border: solid 0px transparent;
  border-bottom: solid 1px #FFFEB5;
  border-right: solid 1px #FFFEB5;
  box-shadow: 0 0 2px 2px #ccc;
}


.devise-container {
	width: 100%;
	max-width: 370px;

	em {
		font-size: 0.75em;
		bottom-margin: 0em;
		padding: 0em; 
	
		&.block {
			display: block;
			line-height: 1em;
			margin-bottom: 0.5em;
		}
	}
}

.clear-all-margins {
	margin: 0em;
	padding: 0em;
	line-height: 1em;
}

.container-cancelmyaccount	{
	width: 75%;
	padding: 1.5em;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 4em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.25em;
	transform: scale(.875);
	border: solid 1px $bright-color;

	.btn-default	{
		width: auto;
	}
}



.page-footer {
	@include clearfix;
	margin: 0.5em;
	margin-top: 2em;
	font-size: 0.875em;
	text-align: center;

	.footer-junk {
		padding: 0.25em;
		text-align: center;
		
		p {
			margin: 0em;
		}
	}
} // .page-footer

ul.recipes {
  list-style-type: none;
  padding-left: 0;
}
