@import "compass";
@import "bootstrap-customizations";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "helpers_and_mixins";
@import url('https://fonts.googleapis.com/css?family=Kreon|Pontano+Sans|Source+Sans+Pro:300i');
@import "page-header";
@import "flash-messages";
@import "form-errors";
@import "recipes";
@import "meal-plans";
@import "dashboard";
@import "grocery-list";

html, body, .em, .rem {
	box-sizing: border-box;
	font-family: 'Pontano Sans', sans-serif;
	color: #525255;
	font-size: 20px;
	line-height: 1.5em; 
}

.navbar-brand {
	font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6	{
	font-family: 'Kreon', serif;
}

h1	{
	color: $brand-primary-darker;
}

h2	{
	color: $brand-primary;
}

h3	{
	color: $bgfill-color-darker;
}

h4, h5, h6 {
	color: $brand-success-light;
}

/*
em	{
	font-family: 'Source Sans Pro', sans-serif;
	padding-right: 0.1em;
}

a	{
	color: $pop-color-dark;
}
*/


.mealplan-container	{
	width: 75%;
	padding: 1.5em;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 4em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.25em;
	transform: scale(.875);
	border: solid 1px $gray-lighter;

	.btn-default	{
		width: auto;
	}
}



.form-group {
	margin-bottom: 1em;
	padding: 0em;
}


.form-control	{
	margin-bottom: 2.25em;
	background-color: #FFFFE9;
	color: #525255;
  padding: 10px;
  border: solid 1px #ccc;

  &-with-checkbox {
  	margin-bottom: .25em;
  }
}


.form-control:focus	{
  padding: 10px;
  border-color: transparent;
  border-bottom-color: #FFFEB5;
  border-right-color: #FFFEB5;
  box-shadow: 0 0 2px 2px #ccc;
}


.field_with_errors {
  input {
    border-color: $brand-danger;
    &:focus {
      border-color: $brand-danger;
    }
  }
  label {
    color: $brand-danger;
  }
}


.devise-container {
	width: 100%;
	max-width: 370px;

	em {
		font-size: 0.75em;
		bottom-margin: 0em;
		padding: 0em; 
	
		&.block {
			display: block;
			line-height: 1em;
			margin-bottom: 0.5em;
		}
	}

	h3 {
		line-height: 1em;
	}

	.login-links {
		margin: auto;
		width: 75%;
		text-align: center;
		padding: 0.5em;

			.btn {
				margin-bottom: 0.5em;
			}
	}
}

.clear-all-margins {
	margin-bottom: 0em;
}

.container-cancelmyaccount	{
	width: 75%;
	padding: 1.5em;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 4em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0.25em;
	transform: scale(.875);
	border: solid 1px $gray-lighter;

	.btn-default	{
		width: auto;
	}
}




.page-footer {
	@include clearfix;
	margin: 0em;
	margin-top: 2em;
	font-size: 0.75em;
	text-align: center;

	.footer-junk {
		padding: 0.25em;
		line-height: 1.25em;
		text-align: center;
		
		p {
			margin: 0em;
			padding: 0em;
		}
	}

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      margin-right: 0.1em;
      &:after { content: " \2022 "; }
      &:last-child {
        margin-right: 0;
        &:after { content: "" }
      }
    }
  }
} // .page-footer 


