@mixin gradient($start: #ffffff, $end: #000000) {
  background: $start;
  background: -webkit-linear-gradient($start, $end);
  background: -o-linear-gradient($start, $end);
  background: -moz-linear-gradient($start, $end);
  background: linear-gradient($start, $end);
}

body.layout--basic {
   font-size: 10px;

  .grocery-list {
    margin: 0;
    padding: 0;
    width: 100%;

    &__header {
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: #ffffff;
      border-bottom: 1px solid $brand-success;
      text-align: center;
    }

    &__heading {
      margin: 0;
      padding: .5em;
      color: $brand-success;
      font-size: 2.5em;
    }

    &__list {
      margin: 0;
      padding: 0;
      width: 100%;
      list-style-type: none;
    }

    &__list-item {
      @include gradient($brand-primary-lighter, $brand-primary-dark);
      width: 100%;
      padding: .5em;
      border-bottom: 1px solid $brand-primary-darker;
      color: #ffffff;

      span {
        &.glyphicon {
          top: .2em;
          width: 20%;
          font-size: 4em;
          text-align: center;
        }

        &.text {
          width: 80%;
          font-size: 2.5em;
          line-height: 2.5em;
        }
      }

      &--checked {
        @include gradient($gray, $gray-lighter);
        border-bottom: 1px solid $gray-dark;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
