.row__hero-banner {
  margin-top: 1em;
  
  h1 {
    text-indent: -9999px;
    margin: 0;
    max-width: 856px;
    background-image: url(FW_LG-Logo-Color@1.00x.png);
    background-size: contain;
    overflow: hidden;
  }
}


.row__hero-flow {
  text-align: center;
}