//---- Styles -----//

.row__homepage {
    margin: 2em 0 0 0;
}

.col__homepage--description {
    margin: 0;
    padding: 1em;
    text-align: left;
    vertical-align: middle;
}

.col__homepage--icon {
    margin: 0;
    min-width: 210px;
    min-height: 210px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.img__homepage--step {
 
}


// ----- Responsive Section ----- //

//  Bootstrap...........Large (lg) 1200px or greater (Desktop)


//  Bootstrap..........Medium (md)  992px or greater (Desktop)


//  Bootstrap...........Small (sm)  768px or greater (Tablet)


//  Bootstrap.....Extra Small (xs)  576px or greater (Phone) Bootstrap Default









/*  Old Shit

.row__hero-banner {
  
    h1 {
        text-indent: -9999px;
        margin: auto;
        max-width: 100%;
        background-image: url(FW_LG-Logo-Color@1.00x.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
      }
}

.row__hero-flow {
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.page-header__login {
    text-align: center;
}

.page-header__call-to-action    {
    text-align: center;
}


// ----- Responsive Section ----- //

//  Bootstrap...........Large (lg) 1200px or greater (Desktop)



//  Bootstrap..........Medium (md)  992px or greater (Desktop)

@media (min-width: 992px)  {
    .row__hero-banner {
        //margin:  0.5em 0.5em 0em 0.5em;
      
        h1 {
            text-indent: -9999px;
            margin: auto;
            max-width: 100%;
            // min-height: 13vw;
            background-image: url(FW_LG-Logo-Color@1.00x.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            overflow: hidden;
        }
    }

    .image__hero-flow   {
        max-width: 25vw;
        height: auto;
        display: block;
        padding: 0em 2em 0em 2em;
        margin: auto;
    }
}

@media (min-width: 992px) and (max-width: 1199px)   { 
    .page-header__login {
        text-align: left;
    }

    .page-header__call-to-action    {
        text-align: left;
    }
}


//  Bootstrap...........Small (sm)  768px or greater (Tablet)

@media (min-width: 768px)   {
    .row__hero-flow {
        text-align: center;
        background-image: url(FW-Cycle@1.50x.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}


//  Bootstrap.....Extra Small (xs)  576px or greater (Phone) Bootstrap Default

@media (max-width: 400px)   {
    .row__hero-banner {
      
        h1 {
            text-indent: -9999px;
            margin: auto;
            max-width: 100%;
            min-height: 40vw;
            background-image: url(FW_VertLogo@1.00x.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            overflow: hidden;
          }
    }
}

*/
