.panel {
  position: relative;
  margin: 0;
  padding: 1em;
  border-radius: 0px;

  &__header {
    padding: 0 1em;
    color: $brand-primary;
  }

  &__content {
    padding: 0 1em;
  }
} // .panel

.panel--foodweek {
  border-bottom: 2px solid $text-color;

  .btn {
    margin-bottom: 1em;
    width: 100%;
    font-family: $font-family-serif;
    line-height: 4.5em;
    text-transform: uppercase;
  }
} // .panel--foodweek

.panel--recipes {
  .btn {
    position: absolute;
    top: 2.5em;
    right: 2em;
    padding: 6px 24px;
    font-family: $font-family-serif;
    text-transform: uppercase;
  }
} // .panel--recipes

.panel--grocery-list {
  border-left: 2px solid $text-color;

  .form-inline {
    position: absolute;
    top: 2.5em;
    right: 2em;

    .btn {
      font-family: $font-family-serif;
      text-transform: uppercase;
    }
  }
} // .panel--grocery-list
