.panel {
  margin: 0;
  padding: 1em;
  border-radius: 0;

  &__header {
    padding: 0 1em;
    color: $brand-primary;
  }

  &__content {
    padding: 0 1em;
  }
} // .panel

.panel--foodweek {
  border-bottom: 2px solid $text-color;

  .btn {
    margin-bottom: 1em;
    width: 100%;
    font-family: $font-family-serif;
    line-height: 4.5em;
    text-transform: uppercase;
  }
} // .panel--foodweek

.panel--recipes {
  border-right: 1px solid $text-color;
} // .panel--recipes

.panel--grocery-list {
  border-left: 1px solid $text-color;
} // .panel--grocery-list
