.recipes {
  &__article {
    &--show {
    }
    &--index {
    }
    &--mine {
    }
    &--new {
    }
    &--edit {
    }
  }
} // .recipes

.recipe {
  &__name {
  }
  &__byline {
  }
  &__time {
  }
  &__ingredients {
  }
  &__steps {
  }
} // .recipe

.recipe-actions {
  &__list {
    list-style-type: none;
    padding-left: 0;
  }
  &__list-item {
    a {
      }
    }
  }  
} // .recipe-actions

.recipe-briefs {
  &__list { 
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 1em;
  }

  &__list-item {
    a {
    }
  }
} // .recipe-briefs

.recipe-form {
  .form-group {
    label {
    }
    .form-control {
    }
  }

  .form-actions {
    input {
    }
  }
} // .recipe-form
