.recipe-brief {
  &__image {
    width: 100%;
    border: 3px solid white;
    @include single-box-shadow;
  }

  &__heading {
    margin: .5em 0 1.5em 0;
    font-size: 1em;
  } // .&__heading
} // .recipe-brief
