.recipe-brief {
  &__image {
    width: 100%;
    border: 2px solid $text-color;
  }

  &__heading {
    font-size: 1.25em;
    margin: .5em 0 1.5em 0;

    a {
      color: $text-color;

      &:hover {
        border-bottom: 2px solid $text-color;
        text-decoration: none;
      }
    }
  } // .&__heading
} // .recipe-brief
