<% content_for :page_header do %>
  <h1>Hey, you've got to crack a few eggs to make an omelette.</h1>
<% end %>

<h2>Lettuce direct you somewhere else...</h2>
<ul>
  <li><%= link_to 'Sign up here', new_user_registration_path %></li>
  <li><%= link_to 'Log in here', new_user_session_path %></li>
</ul>
