<!-- This is already sitting in a container through the app -->

<div class="row row__homepage">
  <div class="col__homepage--icon col-sm-4 col-md-3">
    <%= image_tag "FW-Home-Step-1@1.00x.png", :class => "img img__homepage--step12", alt: "Step 1: Add & Edit Recipes" %>
  </div>
  <div class="col__homepage--description col-sm-8 col-md-9">
    <h2>Add &amp; Edit Your Recipes</h2>
    <p>Build your digital cook book by adding your favorite recipes. You need a little more spice in your life? Edit your recipe to suit your needs. Think of it like your grandma's rolodex, but electric, baby.</p>
  </div>
</div>

<div class="row row__homepage">
  <div class="col__homepage--icon col-sm-4 col-sm-push-8 col-md-3 col-md-push-9">
    <%= image_tag "FW-Home-Step-2@1.00x.png", :class => "img img__homepage--step12", alt: "Step 2: Plan Your Meals for the Week" %>
  </div>
  <div class="col__homepage--description col-sm-8 col-sm-pull-4 col-md-9 col-md-pull-3">
    <h2>Plan Out Your Meals</h2>
    <p>Everyone has to eat. We've done the research. Plan out your food for the week (or the day, hour, month... you do you). Once you've got your recipes chosen, you're good to go! Next up, commerce!</p>
  </div>

</div>

<div class="row row__homepage">
  <div class="col__homepage--icon col-sm-4 col-md-3">
    <%= image_tag "FW-Home-Step-3@1.00x.png", :class => "img img__homepage--step3", alt: "Step 3: Generate a Grocery List" %>
  </div>
  <div class="col__homepage--description col-sm-8 col-md-9">
    <h2>Go Grocery Shopping</h2>
    <p>A wise man once told us that if you wish to make an apple pie from scratch, you must first invent the universe. Here at FoodWeek we aim a little lower: you probably have to get an egg or two. Your selected recipes will generate a grocery list for you, accessible on your mobile device. Need to pick up something else? You can add that manually, too.</p>
  </div>
</div>