<h3>Home page stub</h3>
<p>Stuff that goes here:</p>
<ul>
  <li>Pics of essential features in action</li>
  <li>Demo/intro video</li>
</ul>
<p>Don't feel like signing up? Feel free to use our test account.</p>
<p>email: tester@test.com</p>
<p>pass: bologna</p>
