<% content_for :page_header do %>
  <h1>Terms &amp; Conditions</h1>
<% end %>

<ol><%# start TOS %>
  <li>
    <h2>FOODweek Terms of Service Agreement</h2>

    <p>This is a binding agreement (“Agreement”) between FOODweek LLC. (“FOODweek”, “we”, “us”, or "our"), which provides cooking recipes and meal planning (“Services”), and you, the person or entity creating or accessing recipes and meal plans through FOODweek, your agents, or anyone using the account on your behalf (“User”). By creating an account, you agree that your registration for and use of FOODweek products and services is subject to the terms and conditions set forth in this FOODweek Terms of Service Agreement (this “Agreement”) and that this Agreement is enforceable like any written contract signed by you. If you do not agree to the terms of this Agreement, or are not of legal age to enter into this Agreement, you shall not access, download, or otherwise use the FOODweek Products and Services (as defined below). The FOODweek Products and Services are licensed, not sold.</p>
    <p>FOODweek provides simple meal plans and related shopping lists, recipes and other related information for individuals (collectively, the “FOODweek Products and Services”). After an unlimited Trial Period (as defined below), the FOODweek Products and Services are accessible by subscription via FOODweek’s website, http://FOODweek.com (the “Website”).</p>
  </li><%# end Terms of Service Agreements %>

  <li>
    <h2>Additional Policies</h2>

    <p>The following policies are incorporated into this Agreement by reference and provide additional terms and conditions related to specific FOODweek Products and Services:</p>
    <ul>
      <li><a href="/privacy">FOODweek’s Privacy Policy</a></li>
    </ul>
    <p>Each of these policies may be amended at any time and such amendments shall be binding and effective as indicated within such policies. In the event of any inconsistency between the Terms of Use and this Agreement, this Agreement shall govern your access to and use of the FOODweek Products and Services.</p>
  </li><%# end Additional Policies %>

  <li>
    <h2>License</h2>
    
    <ol type="a">
      <li>
        <h3>Unlimited Trial Period License</h3>
        <p>FOODweek hereby grants you an unlimited, non-exclusive, non-transferable, fully revocable and non-sublicensable right and licence (the “Trial License”) to access and use certain FOODweek Products and Services for an indefinite trial period (the “Trial Period”). If you choose not to purchase an optional subscription license to access premium FOODweek Products and Services during the Trial License, you may continue to use the unlimited Trial License for as long as it is offered by the Company.
      </li>
      <li>
        <h3>Subscription License Grant</h3>
        <p>If you decide to purchase an optional premium subscription for the FOODweek Products and Services during your Unlimited Trial License, FOODweek hereby grants you a non-exclusive, non-transferable (except as provided herein), fully revocable and non-sublicensable right and license to access and use those FOODweek Products and Services covered by your subscription, together with all enhancements, customizations, modifications and updates as may be provided to you from time to time, if any (the “Subscribed Services”), during the term of this Agreement and in accordance with the terms of this Agreement.</p>
      </li>
      <li>
        <h3>Number of Licensed Users</h3>
        <p>Any license to use the FOODweek Products and Services granted pursuant to this Agreement is limited to you, and your User ID may not be used by any other person, whether or not such person is employed by or otherwise associated with you.<p>
      </li>
      <li>
        <h3>Restrictions</h3>
        <p>You agree that you will access and use the FOODweek Products and Services only in compliance with this Agreement. Without limiting the generality of the foregoing, you agree that you shall not, nor shall you permit others to:</p>
        <ol type="i">
          <li> allow anyone other than yourself to access the FOODweek Products and Services, or any portion thereof, without FOODweek’s express prior written permission;</li>
          <li> use the FOODweek Products and Services to create products or perform services which compete or interfere with the products and services of FOODweek;</li>
          <li> create compilations or derivative works of the FOODweek Products and Services;</li>
          <li> lend, sublicense, assign, sell or transfer the FOODweek Products and Services, or any derivative works based thereon, in whole or in part, to any third party;</li>
          <li> copy any portion of the FOODweek Products and Services in any fashion that may infringe any copyright, intellectual property right, contractual right, or proprietary or property right or interest held by FOODweek or any other third party;</li>
          <li> remove or obscure any copyright notice or other notice or terms of use contained in the FOODweek Products and Services;</li>
          <li> remove, disable, avoid, circumvent, or defeat any functionality in the FOODweek Products and Services designed to limit or control access to or use of the FOODweek Products and Services; or</li>
          <li> use, download or otherwise access any portion of the FOODweek Products and Services for which you have not made payment to FOODweek. If for any reason, you access such FOODweek Products and Services, these terms and conditions apply to your use of such services and you agree to pay all applicable charges.</li>
        </ol>
      </li>
      <li>
        <h3>No Enhancements</h3>
        <p>Certain FOODweek Products and Services may be customized to fit your unique needs. Notwithstanding the foregoing or Section 3(b) above, this Agreement does not entitle you to any enhancements, customizations and modifications of the FOODweek Products and Services, nor to ancillary products, unless agreed to by FOODweek. Accordingly, you understand that we may modify or otherwise enhance the FOODweek Products and Services at any time and in doing so incur no obligation to furnish such updates to you pursuant to this Agreement.<p>
      </li>
      <li>
        <h3>Limitations on Reverse Engineering, Decompilation, and Disassembly</h3>
        <p>You may not copy, reverse engineer, decompile, disassemble, derive source code, modify or prepare derivative works of the FOODweek Products and Services.<p>
      </li>
      <li>
        <h3>Non-exclusive License</h3>
        <p>This license is non-exclusive and nothing herein shall limit FOODweek’s right to sell, assign, or in any other manner transfer FOODweek’s ownership of any FOODweek Products and Services.<p>
      </li>
    </ol>
  </li><%# end Licenses %>

  <li>
    <h2>Term and Renewals</h2>

    <p>This Agreement (and your subscription) is effective for an unlimited period of time from the beginning of your Trial License. Thereafter, you may, but are not obligated to, select one of the Subscribed Services subscriptions, following which this Agreement (and your subscription) will continue for the length of the subscription term for the Subscribed Services subscription you have selected and thereafter continue and automatically renew for successive renewal terms, each being equal to the length of the renewal term you initially selected, unless and until terminated by you or by us in accordance with this Agreement. Unless and until you cancel your optional subscription or we terminate it, your subscription and this Agreement will be automatically renewed (and charged to the account you have provided) for successive renewal terms, each being equal to the length of the subscription term you initially selected, at the expiration of your current subscription term and each renewal term thereafter, for FOODweek’s then applicable subscription fee for the Subscribed Services subscription you have previously selected (which subscription fee is subject to change at FOODweek’s sole discretion). You must cancel your subscription before it renews at the expiration of your current subscription term in order to avoid billing for the subsequent renewal term.</p>
  </li><%# end Terms and Renewals %>

  <li>
    <h2>User Accounts</h2>

    <ol type="a">
      <li>
        <h3>Registration, Profile and User ID</h3>
        <p>You will need to register by creating an account with us in order to: access and use the FOODweek Products and Services under the unlimited Trial License, purchase a subscription to the FOODweek Products and Services, access the Subscribed Services, and to create a profile for yourself (a “Profile”). You agree to provide only accurate, complete registration information, and you will keep that information up-to-date if it changes. When you register you may upon your first use obtain a unique log-in credential (a “User ID”) which will be associated with your Profile. Access to the FOODweek Products and Services is not authorized by any person or entity using a User ID other than their own, and you are responsible for preventing such unauthorized use.<p>
      </li>
      <li>
        <h3>Use of User ID</h3>
        <p>FOODweek relies on User IDs to know whether users accessing the Website and using the FOODweek Products and Services are authorized to do so. You are solely responsible for any and all access to the Website or use of the Subscribed Services by persons using a User ID associated with your Profile. Please notify us immediately if you become aware that a User ID associated with your Profile is being used without authorization. FOODweek will not be liable to you or to any third party for any use (whether authorized or unauthorized) of your account, Profile or associated User ID. You acknowledge and agree that FOODweek may access and/or disclose your account, Profile and associated User ID and related information if required to do so by law or if FOODweek has a reasonable belief that such actions are reasonably required to (i) respond to claims that any material made available by you though the Website infringes, misappropriates or violates any third-party rights, (ii) comply with legal obligations imposed on FOODweek or any subpoenas, investigative demands, or court orders directed to FOODweek, (iii) enforce or fulfill the obligations under this Agreement, or (iv) protect the rights, property or safety of FOODweek and its users and the general public.<p>
      </li>
      <li>
        <h3>Personal Data.</h3>
        <p>We will take reasonable precautions to protect your personal data from loss, misuse, unauthorized access or disclosure, alteration, or destruction. Further, we will process your personal data only for the purposes of registration services, security, and support to you. You hereby consent to having your personal data processed and shared with FOODweek and trusted third parties for these purposes. We may use your personal data to contact you regarding FOODweek business, such as atypical account activity or violation of Terms issues as examples. As we ourselves are not fans of unecessary email, it is unlikely that you'll hear from us unsolicited.</p>
      </li>
    </ol>
  </li><%# end User Accounts %>

  <li>
    <h2>Recipe Creation.</h2> 
    <p>The User may create a recipe by listing ingredients and the steps required to prepare and carry out the recipe. Once created, FOODweek does not claim ownership of the content, but does reserve the right to share created content with other Users, crediting the User that generated the content by listing their User ID. If the User chooses to add content from another website, (by copying a recipe to add to their library) the User is responsible for adhering to the usage policies of the website of origin, and must link to the original content in the space provided. FOODweek does not claim responsibility for any User violations of third-party usage policies.</p>
  </li><%# end Recipe Creation %>

  <li>
    <h2>Warranties and Limitation of Liabilities</h2>
    
    <ol type="a">
      <li>
        <h3>No Warranty</h3>
        <p>THE SERVICES PROVIDED ON THE WEBSITE ARE PROVIDED ON AN “AS IS”, AS-AVAILABLE BASIS. WE, OUR DIRECTORS, OFFICERS, EMPLOYEES, ADVISORS AND AGENTS MAKE NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EITHER EXPRESS, IMPLIED, STATUTORY, BY USAGE OF TRADE, COURSE OF DEALING OR OTHERWISE WITH RESPECT TO THE CAPABILITY OF THE SERVICES (INCLUDING WITHOUT LIMITATION WITH RESPECT TO ACCESS TO THE SERVICES THROUGH ANY MOBILE DEVICE) OR THE ACCURACY OR THE COMPLETENESS OF THE DATA PROVIDED THEREIN. ALL WARRANTIES OF ANY TYPE, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION WITH RESPECT TO WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT, TITLE, SATISFACTORY QUALITY OR FITNESS FOR A PARTICULAR PURPOSE ARE EXPRESSLY DISCLAIMED. ANY INFORMATION OR MATERIAL ACCESSED, DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICES BY ANY MEANS WHATSOEVER IS AT YOUR OWN DISCRETION AND RISK AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM, LOSS OF DATA, FAILURE TO TRANSMIT DATA OR ANY OTHER LOSS THAT RESULTS FROM ACCESSING, DOWNLOADING, USING OR RELYING ON ANY SUCH MATERIAL. FOODweek DOES NOT WARRANT THAT THE SERVICES PROVIDED HEREIN WILL MEET ANY PARTICULAR CRITERIA OF PERFORMANCE OR QUALITY, OR THAT THE WEBSITE IS FREE OF OTHER HARMFUL COMPONENTS.<p>
      </li>
      <li>
        <h3>Limitations of Liability</h3>
        <p>NOTWITHSTANDING ANY OTHER PROVISION OF THIS AGREEMENT, FOODweek’S LIABILITY UNDER THIS AGREEMENT, WHETHER UNDER CONTRACT LAW, TORT LAW OR OTHERWISE, SHALL BE LIMITED TO DIRECT DAMAGES NOT TO EXCEED THE OPTIONAL SUBSCRIPTION FEES PAID BY YOU TO FOODweek IN THE THEN CURRENT YEAR OF THIS AGREEMENT, WHICH, FOR THE PURPOSES HEREOF, SHALL BE LIMITED TO THE SUBSCRIBED SERVICES WITHOUT MODIFICATION OR CUSTOMIZATION OR OTHER UPGRADES OR UPDATES THAT ARE PROVIDED BY FOODweek TO YOU UNDER ANY OTHER AGREEMENT. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, IN NO EVENT SHALL FOODweek, ITS SUPPLIERS AND ITS AFFILIATES BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, EXEMPLARY OR OTHER DAMAGES (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF BUSINESS INFORMATION, BUSINESS INTERRUPTION, PRODUCT LIABILITY OR ANY OTHER PECUNIARY LOSS) ARISING OUT OF THE USE OF OR INABILITY TO USE THE services OR THE FAILURE TO PROVIDE SUPPORT SERVICES, EVEN IF FOODweek HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. FOODweek EXPRESSLY DENIES ANY RESPONSIBILITY RESULTING FROM HACKING, TAMPERING, OR OTHER UNAUTHORIZED ACCESS OR USE OF THE SERVICES OR YOUR ACCOUNT OR THE INFORMATION CONTAINED THEREIN. IF YOU ARE DISSATISFIED OR HARMED BY FOODweek OR ANYTHING RELATED TO FOODweek (INCLUDING, WITHOUT LIMITATION, THE SUBSCRIBED SERVICES), YOU MAY CANCEL YOUR FOODweek ACCOUNT AND TERMINATE THIS AGREEMENT IN ACCORDANCE WITH SECTION 5 (Fees and Payment) OR SECTION 10 (TERMINATION), AS APPLICABLE, AND SUCH TERMINATION SHALL BE YOUR SOLE AND EXCLUSIVE REMEDY (AND FOODweek’S SOLE AND EXCLUSIVE LIABILITY). THE FOREGOING LIMITATIONS SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW.</p>
      </li>
      <li>
        <h3>Indemnity</h3>
        <p>YOU SHALL INDEMNIFY AND HOLD FOODweek AND ITS SUBSIDIARIES, AFFILIATES, DIRECTORS, OFFICERS, AGENTS, ADVISORS AND EMPLOYEES, HARMLESS FROM ALL CLAIMS, THREATS, ACTIONS, PROCEEDINGS, DEMANDS, DAMAGES, LOSSES, OBLIGATIONS, COSTS, AND EXPENSES INCLUDING REASONABLE ATTORNEYS’ FEES, MADE BY ANY THIRD PARTY DUE TO OR ARISING OUT OF MATERIALS SUBMITTED, POSTED, TRANSMITTED OR MADE AVAILABLE BY YOU THROUGH THE WEBSITE, YOUR USE OF THE SERVICES, ANY VIOLATION BY YOU OF THE TERMS OF USE OR THIS AGREEMENT, OR ANY VIOLATION BY YOU OF ANY RIGHTS OF ANOTHER (INCLUDING, WITHOUT LIMITATION, ALL INTELLECTUAL PROPERTY RIGHTS AND RIGHTS OF PUBLICITY, PERSONALITY OR PRIVACY).</p>
      </li>
      <li>
        <h3>Reliance on Limitations</h3>
        <p>You expressly acknowledge that FOODweek is entering into this Agreement and is making the Website and FOODweek Products and Services available to you in reliance upon the limitations and exclusions of liability and the disclaimers set forth herein and that the same form an essential basis of the contract between you and FOODweek. You expressly agree that the limitations and exclusions of liability and the disclaimers set forth herein will survive, and continue to apply in the case of, termination of this Agreement for any reason, a fundamental breach or breaches of this Agreement, the failure of essential purpose of this Agreement, the failure of any exclusive remedy or the termination or suspension by FOODweek of your use of, or access to, the Website or the FOODweek Products and Services.</p>
      </li>
    </ol>
  </li><%# end Warranties and Limitation of Liabilities %>

  <li>
    <h2>Proprietary Rights</h2>

    <ol type="a">
      <li>
        <h3>Trade Secrets and Confidential Information</h3> 
        <p>You acknowledge and agree that any and all confidential information and materials from which FOODweek derives actual or potential economic value constitutes FOODweek’s confidential and proprietary trade secrets (collectively, “Trade Secrets”). You further acknowledge and agree that FOODweek’s Trade Secrets include, but are not limited to, the FOODweek Products and Services, and the technology used therein. Except as permitted under this Agreement, you shall maintain any information learned about FOODweek’s Trade Secrets as confidential and shall not disclose such information or permit such information to be disclosed to any person or entity. With respect to all such information, you shall exercise the same degree of care to protect FOODweek’s Trade Secrets that you exercise with respect to protecting your own confidential information, and in no event less than reasonable care.</p>
      </li>
      <li>
        <h3>Ownership in the FOODweek Products and Services</h3> 
        <p>All right, title and interest and all intellectual property rights in and to the FOODweek Products and Services (including but not limited to the source code, object code, diagrams, specifications, and any images, photographs, animations, video, audio, music, text, and ‘applets’ incorporated therein), are owned by FOODweek. We are not granting any license to you under any intellectual property rights by virtue of this Agreement, except for the limited right to use the Website and your unlimited Trial Period and Subscribed Services in accordance with this Agreement. Other product and company names that are mentioned on the Website or provided under this Agreement may be trademarks of their respective owners. We reserve all rights that are not expressly granted to you in this Agreement.</p>
      </li>
      <li>
        <h3>Proprietary Notices</h3> 
        <p>You will not remove any FOODweek patent, trademark, copyright or other proprietary notices from any part of the Website or FOODweek Products and Services and shall reproduce such notices in any copies, in whole or in part, of such materials permitted to be made by you hereunder.</p>
      </li>
      <li>
        <h3>Upgrades and Customization</h3> 
        <p>Any enhancement, upgrade or modification of the FOODweek Products and Services, if any, and any customization undertaken by FOODweek on your behalf shall be the sole and complete property of FOODweek and you shall have no ownership right or claim thereto under any circumstances.</p>
      </li>
      <li>
        <h3>Trademarks</h3> 
        <p>This Agreement does not grant you any rights in connection with any of FOODweek’s trademarks or trade names in any way, including in any promotion or publication, without FOODweek’s prior written consent.</p>
      </li>
      <li>
        <h3>Injunctive Relief</h3> 
        <p>You acknowledge that the breach of any of your obligations under this Section 8 will, or is likely to, cause irreparable harm, and accordingly, FOODweek will be entitled to seek equitable relief to protect its interests therein, including preliminary and permanent injunctive relief, as well as monetary damages.</p>
      </li>
      <li>
        <h3>User Contributed Content</h3>
        <p>As between you and us, you retain all ownership in any content that you post or upload to the Website (including any intellectual property rights in any copyrighted materials and trademarks that are contained in such content) (“User Content”). You grant us an irrevocable, perpetual, non-exclusive, royalty-free, fully paid, transferable, worldwide license, to reproduce, make derivative works of, translate, distribute, display in any form or medium, whether now known or later developed, archive, modify or adapt the User Content in connection with the operation of the FOODweek Products and Services.</p>
      </li>
    </ol>
  </li><%# end Proprietary Rights %>


  <li>
    <h2>Amendments to this Agreement</h2>

    <p>FOODweek may amend this Agreement at any time. Any such amendment shall be binding and effective upon the earlier of (i) the date that is thirty (30) days after posting of the amended Agreement on the Website, or (ii) the date that FOODweek provides notice to you of the amended Agreement pursuant to the notice provisions in this Agreement; except that changes to fees and payment terms shall only be effective in respect of payments made after such changes are posted or notified. You may immediately terminate this Agreement upon notice to FOODweek if a change is unacceptable to you. Your continued use of your optional subscription following any amendment to this Agreement shall constitute your acceptance of the amendment.</p>
  </li><%# end Amendments to Agreement %>

  <li>
    <h2>Termination</h2>

    <ol type="a">
      <li>
        <h3>Termination</h3> 
        <p>You may terminate this Agreement at any time prior to the expiry of the term, and any renewals thereof, by canceling your account. In addition, this Agreement automatically terminates if you fail to comply with its terms and conditions and FOODweek reserves the right to refuse or discontinue participation to any user at any time at its sole discretion. You agree that, upon termination or expiry of this Agreement, your access rights to the FOODweek Products and Services will immediately terminate and you must cease use of the FOODweek Products and Services. In no circumstance shall FOODweek be required to, and FOODweek shall not, refund any portion of the prepaid subscription fee on termination of this Agreement for any failure to comply with its terms and conditions.</p>
      </li>
      <li> 
        <h3>User Data</h3> 
        <p>If you fail to renew your subscription or if this Agreement is terminated, FOODweek will not be obligated to continue to store your account data or Profile information or any User ID for any duration beyond such renewal or termination date. FOODweek has no obligation to provide you with a copy of your data and, unless otherwise agreed to, will remove and discard any data ninety (90) days after such date of renewal or termination. It is your responsibility to ensure that you have stored your account data or User Profile information elsewhere prior to cancelling or terminating your subscription.</p>
      </li>
    </ol>
  </li><%# end Termination %>

  <li>
    <h2>Non-Transferable</h2>
    <p>You shall not assign this Agreement or your subscription without the express written consent of FOODweek. Any attempted assignment in violation of this provision shall be null and void.</p>
  </li><%# end Non-Transferable %>


  <li>
    <h2>General</h2>

    <ol type="a">
      <li>
        <h3>No Implied Advice</h3>
        <p>FOODweek is not your nutritionist, dietician or physician and is not in the business of providing nutritional, dietary, health or other professional advice. It is your sole responsibility to determine that the FOODweek Products and Services meet your needs and are suitable for the purposes for which they are used.</p>
      </li>
      <li>
        <h3>Severability</h3>
        <p>If a court of competent jurisdiction finds any provision of this Agreement invalid or unenforceable, that provision of this Agreement will be enforced to the maximum extent permissible and the other provisions of this Agreement will remain in full force and effect; provided that severance of any payment term with the result that FOODweek will not be compensated at the rates and on the terms provided for herein, shall result in immediate termination of this Agreement.</p>
      </li>
      <li>
        <h3>No Waiver</h3>
        <p>The failure by either party to enforce any provision of this Agreement will not constitute a waiver of future enforcement of that or any other provision and such waiver will only be valid and in enforceable if made by the waiving party in writing.</p>
      </li>
      <li>
        <h3>Force Majeure</h3>
        <p>Neither party will be responsible for any failure or delay in its performance under this Agreement (except for any payment obligations) due to causes beyond its reasonable control and not due to its fault or negligence, including, but not limited to, labour disputes, strikes, lockouts, shortages of or inability to obtain labour, or war, terrorism, riots, acts of God (the old or the new) or any governmental action.</p>
      </li>
      <li>
        <h3>Independent Contractors</h3>
        <p>The parties to this Agreement are independent contractors and this Agreement will not establish any relationship of partnership, joint venture, employment, franchise, or agency between the parties.</p>
      </li>
      <li>
        <h3>Entire Agreement</h3>
        <p>This Agreement and the policies, schedules, terms and conditions incorporated herein, including the Terms of Use, the Privacy Policy and the Fee Schedule constitute the entire, final and complete agreement between the parties and supersede all previous agreements, representations, oral or written relating to this Agreement.</p>
      </li>
    </ol>
  </li><%# end General %>
</ol><%# End TOS %>

<hr>